---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="CodingKickstart"
  description="Unlock the world of web development with CodingKickstart. Access high-quality tutorials, courses, and resources for beginners, covering HTML, CSS, JavaScript, and more. Start your journey to becoming a proficient web developer today."
>
  <main>
    <header
      class="w-4/5 mx-auto pt-16 flex flex-row-reverse items-center gap-x-16"
    >
      <div class="w-2/5 hidden lg:block">
        <img
          src="https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Gray Laptop Computer Showing Html Codes in Shallow Focus Photography"
          class="h-[300px] w-full object-cover object-center rounded"
        />
      </div>
      <div class="flex-1 flex flex-col gap-y-16 items-center">
        <div
          class="flex flex-col items-center justify-center text-center gap-y-4"
        >
          <h1 class="text-4xl font-bold">
            Embark on Your Web Development Journey: Learn, Code, Create.
          </h1>
          <p class="text-gray-500 text-sm">
            Discover the world of coding from scratch, unlock your potential,
            and build a future in tech. Join a community of learners, and let's
            shape the web together.
          </p>
        </div>
        <div>
          <a
            href="/courses"
            class="md:px-6 md:py-4 text-xs p-4 md:text-base ring-2 ring-teal-400 rounded hover:bg-teal-300 transition-colors ease-in-out"
            >Get Started</a
          >
        </div>
      </div>
    </header>

    <section
      class="md:w-4/5 md:mx-auto px-4 flex items-center md:justify-start justify-center pt-16"
    >
      <div
        class="md:px-12 md:py-6 px-6 py-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="flex gap-8">
          <div class="flex flex-col gap-2 justify-center items-center">
            <span class="font-extrabold md:text-4xl text-2xl">3</span>
            <span class="font-medium text-gray-400 text-xs">COURSES</span>
          </div>
          <div class="w-[2px] bg-gray-300"></div>
          <div
            class="md:flex hidden flex-col gap-2 justify-center items-center"
          >
            <span class="font-extrabold md:text-4xl text-2xl">25+</span>
            <span class="font-medium text-gray-400 text-xs">RESOURCES</span>
          </div>
          <div class="w-[2px] bg-gray-300 hidden md:block"></div>
          <div class="flex flex-col gap-2 justify-center items-center">
            <span class="font-extrabold md:text-4xl text-2xl">12+</span>
            <span class="font-medium text-gray-400 text-xs">VIDEOS</span>
          </div>
          <div class="w-[2px] bg-gray-300"></div>
          <div class="flex flex-col gap-2 justify-center items-center">
            <span class="font-extrabold md:text-4xl text-2xl">FREE</span>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="md:mx-16 mx-4 md:pt-40 pt-24">
      <h3 class="md:text-2xl text-xl font-semibold">CodingKickstart</h3>
      <div class="flex md:flex-row flex-col leading-6 gap-4 pt-8">
        <div class="flex-1 flex flex-col">
          <h5 class="text-xs font-bold text-center">Our Mission</h5>
          <p class="text-justify text-sm px-4 pt-4">
            At CodingKickstart, we are on a mission to democratize web
            development education. Our goal is to provide accessible,
            high-quality learning resources and tutorials to empower beginners
            in their journey to become proficient web developers. We believe
            that everyone should have the opportunity to learn and succeed in
            the exciting world of web development.
          </p>
        </div>
        <div class="flex-1 flex flex-col">
          <h5 class="text-xs font-bold text-center">What We Offer</h5>
          <p class="text-justify text-sm px-4 pt-4">
            <strong>Comprehensive Learning Resources:</strong> We curate a
            collection of tutorials, courses, and articles covering a wide range
            of web development topics, ensuring a well-rounded learning
            experience. <br />
            <strong>Guidance and Support:</strong> Our platform offers guidance
            on the best learning paths, helping beginners navigate their way
            through the often complex world of coding. <br />
            <strong>Interactive Community:</strong> Join our community of
            learners, where you can connect with fellow beginners, share
            experiences, ask questions, and grow together.
          </p>
        </div>
      </div>
    </section>

    <section
      id="contact"
      class="md:mx-16 mx-4 md:py-32 py-16 flex items-center md:justify-start justify-center"
    >
      <div
        class="px-12 py-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <h3 class="text-2xl font-semibold mb-8">Contact Us</h3>
        <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
          <div class="flex flex-col justify-center items-center">
            <span class="font-extrabold lg:text-2xl text-sm">GHANA</span>
            <span class="text-xs text-gray-400">COUNTRY</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <span class="font-extrabold lg:text-2xl text-sm">CAPE COAST</span>
            <span class="text-xs text-gray-400">TOWN</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <span class="font-extrabold lg:text-2xl text-sm"
              >+233 241 779 131</span
            >
            <span class="text-xs text-gray-400">WHAT'SAPP</span>
          </div>
          <div class="flex flex-col justify-center items-center">
            <span class="font-extrabold lg:text-2xl text-sm"
              >seidbook@gmail.com</span
            >
            <span class="text-xs text-gray-400">EMAIL</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
