---
import type { CollectionEntry } from "astro:content";
interface Props {
  course: CollectionEntry<"courses">;
  color: string;
}

const { course, color } = Astro.props;
---

<a
  href=`/courses/${course.id}`
  class:list={[
    "md:h-[150px] md:w-[250px] h-[80px] w-full rounded font-medium flex justify-center items-center",
    `bg-${color}-200`,
  ]}
>
  <span class="text-sm">{course.data.title}</span>
</a>
